<div class="subscription-container">
  <div class="subscription-card">
    <div class="title">Subscription Form</div>
    <small class="desc">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo
      repellendus consequuntur quisquam laudantium ipsum totam nulla in illum
    </small>
    <div class="sub-form-div">
      <form action="" class="sub-form">
        <input type="text" placeholder="Your Name" class="input" />
        <input type="email" placeholder="Email Address" class="input" />
        <button type="submit" class="subscribe">Subscribe</button>
      </form>
    </div>
  </div>
</div>
